.expandable {
    cursor: pointer;
}

.expandable img {
    width: 32px;
    display: inline;
}

.expanded-img {
    transform: rotate(180deg);
}

.expandable-content {
    padding-bottom: var(--sp2);
    display: none;
    padding-left: var(--sp4);
}

.expandable  {
    padding-top: var(--sp2);
}